.m{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
a {
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #f4473a;
}

.navbar-brand{
    font-weight: 800;
    
}
.navbar-nav .nav-link{
    font-weight: 500;
}

.contain{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 40px 0px;
    background: #ed564b;
    border-top: 5px solid #f96b61;
    border-bottom: 5px solid #f96b61;
    color: white;
    padding:50px 100px;
    gap: 20px;
    
    

}

.contain .one img{
    width: 110px;
    height: 95px;
    margin: 0 auto;
}
.contain .one h2{
    text-align: center;
    padding-top: 20px;
}

.contain .one span{
    color: white;
    padding: 20px;
    border: 4px solid white;
    border-radius: 50%;
}

.wrap{
    max-width: 728px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 20px;
    gap: 15px;
    margin-left: 350px;
    margin-right: 100px;
    padding: 50px;
    
}
.filter {
    position: absolute;
    top: 70px; 
    left: 0;
    width: 100%;
    height: 88.5%;
    background-image: url('./img/overlay.png'); 
    opacity: 1; 
    z-index: 1;
}



.margin{
    margin-left: -30px;
    margin-top: 50px;
}

.cardd{
    margin-left: 210px;
}
.card{
    border: none;
}
.card-titl{
    font-size: 18px;
    margin-bottom: 20px;
}
.card-body{
    padding: 0;
    margin-top: 10px;
}
.firstt ,  .secondd , .thirdd, .fourthh{
    align-self: flex-start;
    background: #3b3b3b;

}

.wrapp{
    
    max-width: 728px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 20px;
    gap: 15px;
    margin-left: 350px;
    margin-right: 100px;
    padding: 50px;
    
}


.back{
    background: #3b3b3b;
    border-top: 5px solid #ed564b;
}
.text-muted span a{
    color: #f4473a;
    text-decoration: none;
}

.text-muted span a:hover{
    color: black;
}

.containerr { 
    padding: 20px 0px 10px 150px;
    font-size: 14px;
    width: 100%;
    color: white;
background: #292929;
}

.containerr a{
    text-decoration: none;
    color: white;
}
button{
    border: 1px solid white;
    background-color: gray;
    color: white;
    padding: 4px 10px;
    font-weight: 700;
    font-size: 16px;
}


ul li ,ul li a{
    text-decoration: none;
    list-style-type: none;
    color: white;
    padding: 0;
  }

  ul li a{
    border-bottom: 1px dashed white;
  }
  .left{
      margin-left: -40px;
  }

  .carousel-control-prev-icon{
   
  font-weight: 900;
  }
  .carousel-control-next-icon{
    font-weight: bold;
  }
  .carousel-control-next,  .carousel-control-prev{
      width: 60px;
      height: 110px;
      background-color: #fb1100;
      top: 230px;
      right: 0px;
      color: white;
      
  }

  ul li a:hover {
 color: white;
  }


  
